<h1>Provide the Answers For Question</h1>
<table>
  <tr>
    <th>Answertext</th>
    <th></th>
    <th></th>
  </tr>

<% @question_answers.each do |question_answer| %>
  <tr>
    <!--<td><%= question_answer.questionID %></td>-->
    <!--<td><%= question_answer.number %></td>-->
    <td><%= question_answer.answerText %></td>
    <!--<td><%= question_answer.correctAnswer %></td>-->
    <!--<td><%= link_to 'Show', question_answer %></td>-->
    <td><%= link_to 'Edit', edit_question_answer_path(question_answer) %></td>
    <td><%= link_to 'Destroy', question_answer, :confirm => 'Are you sure?', :method => :delete, :remote => true, :id=>'delete' %></td>
  </tr>
<% end %>
</table>


<a href="<%= url_for :controller => 'question_answers', :action => 'new', :id => @question.id %>">New Question Answer</a>



<script type="text/javascript">
    //$('#content').trigger("create");
    $('#notice').html('Editing Question 1:');
</script>