<h1>Manage Accounts</h1>
<hr/>
<b>Show Only:</b>
<p>
  <a href= "<%= url_for :controller => 'accounts', :action => 'index', :account_type => 'admin' %>">Admins</a>&nbsp;| &nbsp;
  <a href= "<%= url_for :controller => 'accounts', :action => 'index', :account_type => 'instructor' %>">Instructors</a>&nbsp;|&nbsp;
  <a href= "<%= url_for :controller => 'accounts', :action => 'index', :account_type => 'ta' %>">TAs</a>&nbsp;|&nbsp;
  <a href= "<%= url_for :controller => 'accounts', :action => 'index', :account_type => 'student' %>">Students</a>&nbsp;|&nbsp;
  <a href= "<%= url_for :controller => 'accounts', :action => 'index' %>">All</a>
</p>
<hr/>
<%= link_to 'Back', home_home_path %>&nbsp;|&nbsp;
<%= link_to 'New Account', new_account_path %>
<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Active <%= @only_showing%>:</li>
  <% @accounts.each do |account| %>
      <li>
        <%= link_to "#{account.name}", edit_account_path(account) %>
        <%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete, :remote => true, :id=>'delete' %>
      </li>
  <% end %>
</ul>
<%= link_to 'Back', home_home_path %>&nbsp;|&nbsp;
<%= link_to 'New Account', new_account_path %>
<script type="text/javascript">$('#content').trigger("create");</script>